* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: black;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 25px;
}

header a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 600;
  padding: 5px 20px;
}

header a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: bold;
}

.activeStyle {
  color: #161616;
  text-decoration: underline;
  font-weight: bolder;
}

.link-button {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 0.75rem 1.375rem;
  color: initial;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.link-button:hover {
  transform: translate(1px, 1px);
}

footer {
  background-color: #161616;
  color: #aaaaaa;
  height: 74px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

/* login component */

.section {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

.form {
  max-width: 400px;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 10px;
}

.form-label {
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  background-color: #ff8c73; /* Pink-orange color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-block {
  width: 100%;
}

/* Additional styling for the login header */
h5 {
  text-align: center;
  margin-top: 0;
}


/* posts component */
.bubble-info {
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}

.bubble-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.bubble-info p {
  margin-block: 10px;
}

.bubbles-title {
  padding-inline: 26px;
}

.bubbles-list {
  padding-inline: 26px;
}

/* post detail component */
.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 60px;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

.post-detail-layout-container {
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}
.container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #222;
  color: #fff;
  padding: 50px;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.data {
  background-color: #444;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
  padding: 30px;
}

.data p {
  margin: 15px 0;
}

.data p span {
  font-weight: bold;
}

.address ul,
.company ul {
  list-style: none;
  padding-left: 0;
  margin: 10px 0;
}

.address li span,
.company li span {
  font-weight: bold;
}

.address ul ul,
.company ul ul {
  margin-top: 5px;
  margin-left: 20px;
}

.address ul ul li,
.company ul ul li {
  margin: 5px 0;
}

.address p {
  font-weight: bold;
  margin-top: 20px;
}

.address ul {
  margin-top: 10px;
}

.company p {
  font-weight: bold;
  margin-top: 20px;
}

.company ul {
  margin-top: 10px;
}

/* todos component */
.removeBtn {
  background: linear-gradient(to bottom, #ff80c0, #e02929);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .removeBtn:hover {
  background-color: #ff654d;
  transform: scale(1.05);
  }
  
  .removeBtn:active {
  background-color: #ff80c0;
  transform: scale(0.95);
  }
  .addButton {
    background-color: #ff80c0;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(255, 0, 128, 0.2);
    transition: background-color 0.3s ease-in-out;
  }
  
  .addButton:hover {
    background-color: #ff1493;
  }
  
  .addButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 0, 128, 0.4);
  }
  
  .addButton:active {
    transform: translateY(1px);
  }
  
/* photos component */

.photo-detail{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 24px;
  margin: 30px 26px;
}

.photo-detail > img {
  height: 130px;
  border-radius: 5px;
  margin-right: 20px;
}

.photo-detail > h3 {
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}


@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
  
  h1 {
    font-size: 36px;
  }
  
  .data {
    padding: 20px;
  }
  
  .data p {
    margin: 10px 0;
  }
  
  .address p,
  .company p {
    margin-top: 10px;
  }
}
